			.card{
				width:320px;
				float:left;
				margin-right:5px;
				margin-bottom:5px;
				padding:10px;
				border:1px solid #000;
			}
			table.card-content{
				width:100%;
				border:none;
			}
			table.card-content td{
				font-size:0.9em;
			}
			ol li{line-height:20px;}